SUPABASE_URL=https://wygdijwlmqjdpuyxdslc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5Z2RpandsbXFqZHB1eXhkc2xjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NDA1ODcsImV4cCI6MjA5MjIxNjU4N30.BwEDC9Gi_qCtx7XfcNknNV50ziiWwAPEEZ5nHgdK0xk
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5Z2RpandsbXFqZHB1eXhkc2xjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY0MDU4NywiZXhwIjoyMDkyMjE2NTg3fQ.GiTybwFpXqUIXjRDd4SgzCjws1JSOulbb9tRjzehPV0
SUPABASE_JWT_SECRET=/kIhwoga7Xyuxgcl91lr3eucvHZ4Pv32oOcNZ89vuMfm11PHL1lQGET3BrrVLt1L9bUGbLRsqfMYqMYnCYzH2w==
